Data treatment for experiment.

In [4]:
import pandas as pd

# custom libs
import sys
sys.path.append("..")
from src.libs.data_wrangling import add_return_cols, ts_to_df

In [5]:
# Dados
data_path = "../data/processed/"
returns_path = ''.join([data_path, 'ibovespa.xlsx'])
df = pd.read_excel(returns_path).loc[:, ["datetime", "value"]]
df.head()

             datetime      value
0 2024-12-02 10:00:00  125780.67
1 2024-12-02 10:05:00  125495.31
2 2024-12-02 10:10:00  125422.25
3 2024-12-02 10:15:00  125171.97
4 2024-12-02 10:20:00  125167.39

In [6]:
# mantém apenas dados em horário de negociação
df = df.set_index("datetime").between_time("10:00", "17:00").reset_index()

# mantém apenas dados no intervalo de 5 minutos
df = df[df.datetime.dt.minute % 5 == 0]

# adiciona coluna de retornos
df_returns = add_return_cols(df=df, y="value")

# Cria coluna para cada dia
df_returns_wide = ts_to_df(
                        df_returns, 
                        y='r_t', 
                        datetime_col='datetime')
df_returns_wide.head()

date,2024-12-02,2024-12-03,2024-12-04,2024-12-05,2024-12-06,2024-12-09,2024-12-10,2024-12-11,2024-12-12,2024-12-13,...,2025-11-14,2025-11-17,2025-11-18,2025-11-19,2025-11-21,2025-11-24,2025-11-25,2025-11-26,2025-11-27,2025-11-28
time,,,,,,,,,,,,,,,,,,,,,
10:00:00,0.000011,-0.000372,-0.000035,0.007233,-0.001305,-0.000459,0.002388,0.002212,-0.008001,-0.000824,...,-0.000957,-0.002307,-0.003734,-0.005020,-0.001139,-0.000255,0.002339,0.004176,-0.000224,-0.000238
10:05:00,-0.002271,0.003372,0.001716,0.005538,0.000069,0.006429,0.002343,0.001918,-0.007582,-0.000413,...,-0.001522,0.000739,-0.000613,0.000306,-0.002021,-0.000810,0.001557,-0.001565,-0.000193,0.002906
10:10:00,-0.000582,0.002832,-0.000502,0.000739,0.000261,0.001891,0.000775,-0.001172,0.000216,-0.000432,...,0.000360,-0.000105,-0.000159,-0.000362,0.000092,0.001131,0.001170,0.000202,0.000556,0.000475
10:15:00,-0.001997,0.001091,0.000111,-0.000192,0.000407,-0.001392,-0.000477,-0.001526,0.000198,-0.001821,...,0.001121,-0.000284,0.003272,-0.001107,-0.001012,-0.000174,0.001002,0.001815,-0.000168,0.000973
10:20:00,-0.000037,-0.000505,-0.000327,-0.000580,-0.000436,-0.000405,0.001263,0.000676,-0.002667,0.001033,...,0.000449,0.000335,0.000853,0.000981,-0.000057,-0.000096,0.000832,0.001951,0.001060,-0.001004

In [7]:
df_returns_wide.tail()

date,2024-12-02,2024-12-03,2024-12-04,2024-12-05,2024-12-06,2024-12-09,2024-12-10,2024-12-11,2024-12-12,2024-12-13,...,2025-11-14,2025-11-17,2025-11-18,2025-11-19,2025-11-21,2025-11-24,2025-11-25,2025-11-26,2025-11-27,2025-11-28
time,,,,,,,,,,,,,,,,,,,,,
16:40:00,-0.000169,0.000195,-0.000833,0.000137,0.000127,0.000062,0.000253,-0.003736,0.000405,0.000168,...,-0.000255,-0.000412,-0.000398,-0.000301,-0.000428,-0.000232,0.000473,-0.000521,0.000118,-0.000099
16:45:00,-0.000246,-0.000226,-0.000897,0.000536,0.001010,0.000047,-0.000063,0.002746,-0.000154,-0.000783,...,0.000344,0.000610,0.000224,-0.000353,0.000034,0.000054,-0.000519,0.000386,-0.000085,-0.000468
16:50:00,-0.000512,-0.000546,0.000553,0.000278,-0.000393,-0.000625,0.000141,-0.002952,0.002424,0.000244,...,0.000202,-0.000350,-0.000240,0.000239,-0.000314,-0.000175,0.000022,0.000298,0.000399,-0.000041
16:55:00,0.000247,-0.001140,-0.000222,-0.000514,0.000252,-0.000129,0.000417,-0.002916,-0.000360,-0.000437,...,-0.000096,-0.000597,-0.000189,0.000420,0.000288,-0.000262,0.000238,-0.000310,-0.000064,-0.000386
17:00:00,-0.000209,0.000390,-0.000192,-0.000644,-0.000069,0.000611,0.000375,0.001479,0.001096,-0.000922,...,0.000127,-0.001313,-0.000351,0.000408,0.000114,0.000461,0.000364,0.000216,-0.000131,-0.000429

In [8]:
df_returns_wide.to_excel("../data/processed/ibovespa_treated.xlsx")